<div class="movies">
    <app-nav></app-nav>
    <app-banner></app-banner>
    <app-row title="NETFLIX ORIGINALS" [movies]="netflixOriginalsMovies" [isLarge]="true"></app-row>
    <app-row title="Trending Now" [movies]="trendingMovies"></app-row>
    <app-row title="Top Rated" [movies]="topRatedMovies"></app-row>
    <app-row title="Action Movies" [movies]="actionMovies" ></app-row>
    <app-row title="Comedy Movies" [movies]="comdyMovies"></app-row>
    <app-row title="Romance Movies" [movies]="romanceMovies"></app-row>
    <app-row title="Horror Movies" [movies]="horrorMovies"></app-row>
</div>